<div class="container">
  <div>
    <h1>Please enter your name and pick the Sectors you are currently involved in.</h1>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="sector">Choose sector</label>
        <select multiple size="20" class="form-control" id="sector"
                required
                [(ngModel)]="model.sectorIds" name="sector"
                #sectorIds="ngModel">
          <option *ngFor="let sector of sectors" [value]="sector.id" [innerHTML]="sector.name"></option>
        </select>
        <div [hidden]="sectorIds.valid || sectorIds.pristine" class="alert alert-danger">
          Sector is required
        </div>
      </div>

      <div>
        <label>
          <input type="checkbox" name="active" [(ngModel)]="model.agreedToTerms" #agreedToTerms="ngModel"
                 (change)="onCheckboxChange($event)" required>
          Agree to terms.
        </label>
        <div [hidden]="agreedToTerms.valid || agreedToTerms.pristine" class="alert alert-danger">
          Terms must be agreed with!
        </div>
      </div>

      <div *ngIf="containsForm()">
        <button type="button" class="btn" (click)="clearFormInLocalStorage()">Clear local storage</button>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>

      <div *ngIf="showSuccessMsg" class="alert alert-success">
        Form submitted!
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
